<section class="motorapp">
  <header class="header">
    <h1>Virturian Motors</h1>
    <div class="motor-data-container">
      <app-input-form [motor]="newMotor">
      </app-input-form>
    </div>
  </header>
  <section class="main" *ngIf="motors.length > 0">
      <div class="motor-data-container" *ngFor="let motor of motors">
          <app-input-form [motor]="motor">
          </app-input-form>
        </div>
  </section>
  <footer class="footer" *ngIf="motors.length > 0">
    <span class="motor-count"> Registered motors: <strong>{{motors.length}}</strong></span>
  </footer>
</section>