<section class="motorapp">
  <header class="header">
    <h1>Motors</h1>
    <div class="motor-data-container">
      <app-input-form [motor]="newMotor">
      </app-input-form>
    </div>
  </header>
  <section class="main" *ngIf="motors.length > 0">
    <ul class="motor-list">
      <li *ngFor="let motor of motors">
        <div class="view">
          <app-input-form [motor]="motor">
          </app-input-form>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="motors.length > 0">
    <span class="motor-count"><strong>{{motors.length}}</strong> {{motors.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>