<section class="motorapp">
  <header class="header">
    <h1>Motors</h1>
    <div class="motor-data-container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Register new motor
                </mat-panel-title>
              </mat-expansion-panel-header>
              
              <mat-form-field>
                  <mat-select placeholder="Number of Poles" [(value)]="nPoles" [(ngModel)]="newMotor.numberPoles">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let option of numberPolesOptions" [value]="option">{{option}}</mat-option>
                  </mat-select>
                </mat-form-field>
          
                <mat-form-field>
                      <mat-select placeholder="Voltage" [(value)]="volt" [(ngModel)]="newMotor.voltage">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of voltageOptions" [value]="option">{{option}}</mat-option>
                  </mat-select>
                </mat-form-field>
            
                <mat-form-field>
                      <mat-select placeholder="Duty Class" [(value)]="duty" [(ngModel)]="newMotor.dutyClass">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of dutyClassOptions" [value]="option">{{option}}</mat-option>
                  </mat-select>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput placeholder="Rated Current" type="number" [(ngModel)]="newMotor.ratedCurrent">
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput placeholder="Rated Power" type="number" [(ngModel)]="newMotor.ratedPower">
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput placeholder="Maximum Torque" type="number" [(ngModel)]="newMotor.maximumTorque">
                </mat-form-field>

                <button mat-raised-button color="accent" (click)="saveMotor(newMotor)">Save</button>

                <button mat-raised-button color="primary" (click)="1">Cancel</button>
                
            </mat-expansion-panel>
          </mat-accordion>
    </div>
  </header>
  <section class="main" *ngIf="motors.length > 0">
    <ul class="motor-list">
      <li *ngFor="let motor of motors">
        <div class="view">
          <label>{{motor.numberPoles}} poles, {{motor.voltage}} V, {{motor.dutyClass}}, {{motor.ratedCurrent}} A, {{motor.ratedPower}} W, {{motor.maximumTorque}} maximum Torque [N.m]</label>
          <button class="destroy" (click)="removeMotor(motor)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="motors.length > 0">
    <span class="motor-count"><strong>{{motors.length}}</strong> {{motors.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>