<mat-accordion>
  <mat-expansion-panel class="expansion-panel-app">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ motor.id ? "Motor #" + motor.id : "Register new motor"}}
      </mat-panel-title>
      <mat-panel-description *ngIf="motor.id">
        {{motor.numberPoles}}-pole,  {{motor.voltage}} V, {{motor.dutyClass}} Duty Cycle, {{motor.ratedCurrent}} A, {{motor.ratedPower}} kW, {{motor.maxTorque}} N.m of maximum torque
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-select placeholder="Number of Poles" [(ngModel)]="motor.numberPoles">
        <mat-option></mat-option>
        <mat-option *ngFor="let option of numberPolesOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
          <mat-select placeholder="Voltage" [(ngModel)]="motor.voltage">
            <mat-option></mat-option>
            <mat-option *ngFor="let option of voltageOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
          <mat-select placeholder="Duty Class" [(ngModel)]="motor.dutyClass">
            <mat-option></mat-option>
            <mat-option *ngFor="let option of dutyClassOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Rated Current" type="number" [(ngModel)]="motor.ratedCurrent">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Rated Power" type="number" [(ngModel)]="motor.ratedPower">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Maximum Torque" type="number" [(ngModel)]="motor.maxTorque">
    </mat-form-field>

    <div class="buttons">
    <button mat-raised-button color="primary" data-toggle="collapse" (click)="saveMotor(motor)">Save</button>
  
    <button mat-raised-button color="basic" data-toggle="collapse" (click)="cancelMotorChange()">Cancel</button>  
    
    <button mat-raised-button color="warn" data-toggle="collapse" *ngIf="motor.id" (click)="removeMotor(motor)">Delete</button> 
    </div>

  </mat-expansion-panel>
</mat-accordion>